<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Keep an eye on your SSL/TLS certificate expery date!">
        <link rel="canonical" href="https://certificate.pittet.org" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <title>SSL Expiry: Check the expiry of your SSL Certificate</title>
    </head>
    <body>
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">
                <section class="hero">
                    <div class="hero-body">
                      <h1 class="title">
                        SSL Expiry
                      </h1>
                      <p class="subtitle">
                        Check the remaining days before your SSL/TLS certificate expiry and renew it early enough!
                      </p>
                    </div>
                </section>
                <section class="hero">
                    <article class="message is-danger is-large">
                        <div class="message-header">
                          <p>HTTP 404 : Page Not Found</p>
                        </div>
                        <div class="message-body">
                            <p>Oops, it looks like we hit a roadblock on the information superhighway!<br>Our team of highly-trained digital detectives are on the case, and we'll have this missing page back in action faster than you can say <strong>'404 Not Found'!</strong></p>
                            <p>Can we suggest you a <a href="/" alt="Homepage">move to the homepage</a> ?</p>
                        </div>
                      </article>
                </section>
            </div>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>SSLexpiry</strong> by <a href="https://sebastien.pittet.org">Sébastien Pittet</a> and hosted at <a href="https://www.exoscale.com" target="_blank" alt="European Cloud Provider">Exoscale</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
                <p>🪲 Did you find a bug?<br>Please submit your issue and contribute to the project on <a href="https://github.com/SebastienPittet/lametric-ssl-expiry/issues" target="blank">GitHub.com</a>.
              </p>
              <p><a href="https://www.freeprivacypolicy.com/live/ab3e8f63-bee8-41ce-9ccd-68c0bf1bbd68" target="_blank">Check our Privacy Policy here.</p>
            </div>
        </footer>
    </body>