<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Keep an eye on your SSL/TLS certificate expery date!">
        <link rel="canonical" href="https://certificate.pittet.org" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>SSL Expiry: Check the expiry of your SSL Certificate</title>
        <meta name="google-site-verification" content="0EqrdJvxPl2p4YT6yURPG-s86_ugo2QDfeihvAgrDpY" />
    </head>
    <body>
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">
                <section class="hero">
                    <div class="hero-body">
                      <h1 class="title">
                        SSL Expiry
                      </h1>
                      <p class="subtitle">
                        Check the remaining days before your SSL/TLS certificate expiry and renew it early enough!
                      </p>
                    </div>
                </section>
                <div class="tabs is-centered is-boxed is-medium ">
                    <ul>
                        <li class="is-active" id="CheckCert">
                            <a>Check a SSL Certificate expiry</a>
                        </li>
                        <li id="Stats">
                            <a>Statistics</a>
                        </li>
                        <li id="About">
                            <a>About</a>
                        </li>
                    </ul>
                </div>

                <div class="card" id="tab-content">
                    <div id="CheckCert">
                        <h3 class="subtitle is-3">Check a TLS certificate</h3>
                        <div class="box">
                            <div class="field">
                                <label class="label">Hostname</label>
                                <div class="control">
                                    <input id="hostname" class="input is-primary" type="text" placeholder="e.g. www.lametric.com (default value)" size="30" autofocus required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">TCP Port</label>
                                <div class="control">
                                    <input id="port" class="input is-info" type="text" placeholder="e.g. 443" value="443" min="1" max="65534" pattern="[0-9]{1,5}">
                                </div>
                            </div>

                            <button id="SubmitBtn" class="button is-primary" type="submit" is-primary>Check expiry</button>
                        </div>

                        <div id="answer" class="is-hidden">
                            <article class="message is-medium is-info">
                                <div class="message-header">
                                  <p>SSL Expiry in:</p>
                                  <button class="delete is-medium" aria-label="delete"></button>
                                </div>
                                <div class="message-body">
                                  <p id="expiryTime"></p>
                                </div>
                              </article>
                        </div>

                    </div>

                    <div id="Stats" class="is-hidden">
                        <h3 class="subtitle is-3">Statistics</h2>
                        <div class="block">
                            <p>This application rely on a public API consumed by a <a href="https://www.lametric.com" target="_blank">LAMETRIC TIME</a> application. This content gives an overview about the usage.</p>
                        </div>
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Count of hostnames</p>
                                    <p class="subtitle is-3" id="hostname-count">N/A</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Last Hostname</p>
                                    <p class="subtitle is-3" id="last-hostname">N/A</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Server Uptime</p>
                                    <p class="subtitle is-3" id="server-uptime">N/A</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Last hour checks</p>
                                    <p class="subtitle is-3" id="last-hour-checks">N/A</p>
                                </div>
                            </div>
                        </nav>
                    </div>

                    <div id="About" class="is-hidden">
                        <h3 class="subtitle is-3">The Story</h3>
                        <div class="content has-text-left">
                            <p>Years ago, a customer of mine was in a hurry and requested assistance to renew their SSL certificate.</p>
                                <p>🔥No connection to a core system anymore for 500 employees!🔥</p>
                                <p>I trained them and then found some fun in the developpment of an app for 
                                    their <a href="https://lametric.com/" target="_blank" alt="LaMetric Time">LaMetric Time</a> to help them keep an eye on it.</p>
                            <figure class="image is-3by1">
                                <img class="has-ratio" alt="LaMetric Time" width="640" height="320" src="{{ url_for('static', filename='pics/lametric.png') }}">
                            </figure>
                            <h3 class="subtitle is-3">Today</h3>
                            <div class="content has-text-left">
                                <p>Nowadays, it's recommended to use <a href="https://letsencrypt.org/" target="_blank">LetsEncrypt certificates</a> and related 
                                    toolset (I like <a href="https://certbot.eff.org/instructions" alt="EFF Certbot" target="_blank">Certbot</a> a lot).</p>
                                <p>But as the <a href="https://apps.lametric.com/apps/ssl_expiry/8659" target="_blank" alt="LaMetric Time SSL Expiry">Application 
                                    is now available and free</a>, <strong>why wouldn't you use it?</strong></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="block"></div>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>SSLexpiry</strong> by <a href="https://sebastien.pittet.org">Sébastien Pittet</a> and hosted at <a href="https://www.exoscale.com" target="_blank" alt="European Cloud Provider">Exoscale</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</p>
                <p>🪲 Did you find a bug?<br>Please submit your issue and contribute to the project on <a href="https://github.com/SebastienPittet/lametric-ssl-expiry/issues" target="blank">GitHub.com</a>.
              </p>
              <p><a href="https://www.freeprivacypolicy.com/live/ab3e8f63-bee8-41ce-9ccd-68c0bf1bbd68" target="_blank">Check our Privacy Policy here.</p>
            </div>
        </footer>
    </body>
</html>
